.donation-panel__form {
  width: 100%;
}

.donation-panel__label--small {
  font-size: 1rem;
}

.donation-panel__btn {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 9px;
  padding-bottom: 9px;
}
